[Unit]
Description=Restic backup
Requires=network.target
{% if restic_email_failure_dest is defined and restic_email_failure_dest %}
OnFailure=restic-backup-failure.service
{% endif -%}

[Service]
Type=oneshot
User=root
CPUQuota={{ 10 * ansible_processor_vcpus }}%
{% for repo_name, _ in restic_repositories.items() %}
{% if repo_name in restic_used_repositories %}
ExecStart={{ restic_scripts_directory }}/restic-backup-{{ repo_name }}.sh
{% endif -%}
{% endfor -%}
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectControlGroups=true
PrivateDevices=true
MemoryDenyWriteExecute=true
