#!/usr/bin/env bash
# {{ ansible_managed }}

set -euo pipefail

export GOGC=20
export RESTIC_PROGRESS_FPS=0.08

{% macro repo_args(repo_name) -%}
-r {{ restic_repositories[repo_name].location }} -p {{ restic_scripts_directory }}/restic-password-{{ repo_name }}
{%- endmacro %}

{% macro global_flags() -%}
{{ restic_json_log_format | ternary('--json', '') }} --limit-download {{ restic_download_limit }} --limit-upload {{ restic_upload_limit }}
{%- endmacro %}

export RESTIC_CACHE_DIR={{ restic_cache_directory }}
{% for key, value in (restic_repository.value.environment_variables | default({})).items() %}
export {{ key }}={{ value }}
{% endfor %}

if ! {{ restic_path }} snapshots {{ repo_args(restic_repository.key) }} --latest 1 > /dev/null 2>&1; then
  {{ restic_path }} init {{ repo_args(restic_repository.key) }}
fi

{% if restic_repository.value.check is defined and restic_repository.value.check %}
{{ restic_path }} check {{ repo_args(restic_repository.key) }} {{ global_flags() }} {{ restic_repository.value.check_args | default ('') }}
{% endif -%}

{% for folder in restic_folders %}
{% if restic_repository.key in folder.repositories %}
{{ folder.pre_backup_cmd | default('') }}
{{ restic_path }} backup {{ repo_args(restic_repository.key) }} {{ global_flags() }} {{ folder.flags | default('') }} --tag {{ folder.tags | join(',') }} {{ folder.excludes | default ([]) | map('quote') | map('regex_replace', '^(.*)$', '--exclude \\1')  | join(' ') }} {{ folder.paths | map('quote') | join(' ') }}
{{ folder.post_backup_cmd | default('') }}
{% endif -%}
{% endfor -%}

{% for stdout in restic_stdouts %}
{% if restic_repository.key in stdout.repositories %}

{% for temp_file in stdout.temp_files | default([]) %}
touch /tmp/{{ temp_file.filename }}
chmod 600 /tmp/{{ temp_file.filename }}
cat <<EOT > /tmp/{{ temp_file.filename }}
{{ temp_file.content }}
EOT
{% endfor -%}

{{ stdout.cmd | trim }} | {{ restic_path }} backup {{ repo_args(restic_repository.key) }} {{ global_flags() }} {{ folder.flags | default('') }} --tag {{ stdout.tags | join(',') }} --stdin --stdin-filename {{ stdout.filename }}
{% endif -%}
{% endfor -%}

{% if restic_repository.value.forget is defined and restic_repository.value.forget %}
{{ restic_path }} forget {{ repo_args(restic_repository.key) }} {{ global_flags() }} {{ restic_repository.value.forget_args | default ('') }}
{% endif -%}

{% if restic_json_log_format %}
echo '{"backup_status":"success"}'
{% else %}
echo "Backup status : success"
{% endif -%}
